// Need to be first import !
@import "variable";

// Root config
@import "tool/font";
@import "tool/animation";

// External libs
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/input-group";
@import "~slick-carousel/slick/slick.scss";

// Custom styles
@import "loader/loader";
@import "slideshow/slideshow";
// Custom admin
@import "admin/button";
@import "admin/panel";

body, html {
    height: 100%;
    background: #110101;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.btn-ovale {
    border-radius: 20px;
    font-size: 1rem;
    height: 38px;
    padding: .55rem;
    text-decoration: none;
    text-transform: uppercase;
    &.btn-primary {
        border: 1px solid $red;
        background-color: $red;
        color: $white;
        &:hover {
            background-color: $white;
            color: $red;
        }
    }
}
.d-none {
    display: none !important;
}
.links {
    color: $white;
}
.mt-3 {
    margin-top: 2rem;
}
.text-right {
    text-align: right;
}
