// Need to be first import !
@import "variable";

// Root config
@import "tool/font";
@import "tool/animation";
@import "tool/tooltip";

// External libs
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/input-group";
@import "~slick-carousel/slick/slick.scss";

// Custom styles
@import "loader/loader";
@import "slideshow/slideshow";
// Custom admin
@import "admin/button";
@import "admin/panel";

body, html {
    height: 100%;
    background: #110101;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.d-none {
    display: none !important;
}
