#admin {
	.svg-icon {
		background-color: #fff;
		padding: 5px;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
		position: absolute;
		right: 0;
		bottom: 0;
		cursor: pointer;
	}
	#admin-settings {
		position: fixed;
		display: block;
		bottom: 25px;
		right: 25px;
		z-index: 998;
	}
	#admin-panel {
		background-color: #fff;
		min-height: 100vh;
		position: fixed;
		right: 0;
		margin-right: -90%;
		z-index: 999;
		top: 0;
		padding: 25px;
		&.active {
			right: 0;
		}
	}
}

/* Animation */

@keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		-moz-transform: scale3d(0.3, 0.3, 0.3);
		-ms-transform: scale3d(0.3, 0.3, 0.3);
		-o-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
		width: 100%;
	}

	50% {
		opacity: 1;
	}

	to {
		width: 100%;
	}
}

@keyframes zoomOut {
	from {
		opacity: 1;
		width: 100%;
	}

	50% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		-moz-transform: scale3d(0.3, 0.3, 0.3);
		-ms-transform: scale3d(0.3, 0.3, 0.3);
		-o-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}

	to {
		width: 100%;
		opacity: 0;
	}
}

@keyframes wave {
	0%, 60%, 100% {
		-webkit-transform: initial;
		-moz-transform: initial;
		-ms-transform: initial;
		-o-transform: initial;
		transform: initial;
	}

	30% {
		-webkit-transform: translateY(-15px);
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		-o-transform: translateY(-15px);
		transform: translateY(-15px);
	}

}
